[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
openpyxl = "==2.5.9"
requests = "*"
xlrd = "*"
gunicorn = "*"
Flask = "*"
Flask-Cors = "*"
Flask-SSLify = "*"

[requires]
python_version = "3.8"
